<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alaaetmam.eve">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".View.Activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Activities.ShowMap" />
        <activity android:name=".View.Activities.HomeVisit" />
        <activity android:name=".View.Activities.RegisterUser" />
        <activity
            android:name=".View.Activities.Lang"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.LoginOrReg"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Activities.UserCountry" />
        <activity android:name=".View.Activities.TestActivity" />
        <activity android:name=".View.Activities.PersonSection" />
        <activity android:name=".View.Activities.Tabs" />
        <activity android:name=".View.Activities.Images" />
        <activity android:name=".View.Activities.personList"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>